body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;  */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    border-bottom: #d1cfcf solid 0.3px;
}

.padding-links-navbar {
    padding-right: .3rem !important;
}

.color-orange-one {
    color: #dc712d !important;
    text-decoration: underline;
}

.bg-orange-one {
    background-color: #c63f17 !important;
}

.color-orange-two {
    color: #ff7043;
}

.body-container {
    width: 100%;
    font-family: "Brown Light", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0 auto;
}

.contenedor-first-footer {
    width: 100%;
    background: #EAEDED;
    margin-bottom: 0;
    padding: 1.5% 0.5%;
}

.contenedor-first-footer .contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-first-footer .contenedor .descargas {
    width: 40%;
    text-align: center;
    border-right: 5px solid #dc712d;
}

.contenedor-first-footer .contenedor .descargas .imagen {
    width: 100%;
    padding-bottom: 1%;
}

.contenedor-first-footer .contenedor .descargas .imagen img {
    width: 28%;
}

.contenedor-first-footer .contenedor .descargas .titulo h4 {
    font-size: 50px;
    font-weight: 700;
    color: #566573;
    padding: 0;
    margin: 0;
}

.contenedor-first-footer .contenedor .descargas .descripcion p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #dc712d;
    text-decoration: underline;
}

.contenedor-first-footer .contenedor .lista {
    width: 60%;
}

.contenedor-first-footer .contenedor .lista ul {
    width: 90%;
    padding-left: 8%;
    list-style: none;
    text-align: left;
}

.contenedor-first-footer .contenedor .lista ul li {
    font-size: 20px;
    font-weight: 600;
}

.contenedor-first-footer .contenedor .lista ul li .underline {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    color: #dc712d;
}

.contenedor-first-footer .contenedor .lista ul li span {
    font-weight: lighter;
    font-style: italic;
    color: #566573;
}

.contenedor-footer {
    background: #000;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-footer .all-logos {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenedor-footer .all-logos .logo-izquierdo, 
.contenedor-footer .all-logos .logo-centro, 
.contenedor-footer .all-logos .logo-derecho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-footer .all-logos .logo-izquierdo .banco-interamericano-desarrollo, 
.contenedor-footer .all-logos .logo-izquierdo .laboratorio-gobierno, 
.contenedor-footer .all-logos .logo-izquierdo .ministerio {
    width: 33%;
}

.contenedor-footer .all-logos .logo-izquierdo img {
    width: 75%;
    height: 90px;
}

.contenedor-footer .all-logos .logo-centro .indice-innovacion-publica {
    width: 60%;
}

.contenedor-footer .all-logos .logo-centro .indice-innovacion-publica img {
    width: 70%;
}

.contenedor-footer .all-logos .logo-derecho .twitter, 
.contenedor-footer .all-logos .logo-derecho .instagram, 
.contenedor-footer .all-logos .logo-derecho .in, 
.contenedor-footer .all-logos .logo-derecho .facebook {
    width: 20%;
    font-size: 400%;
    color: #fff;
}

.contenedor-footer .links {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-footer .links ul {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.contenedor-footer .links ul li {
    list-style-type: none;
}

.contenedor-footer .links ul li a {
    color: #fff;
}

.contenedor-footer .links ul li a:hover {
    text-decoration: none;
}

.contenedor-footer .links ul .decoracion a:hover {
    text-decoration: underline !important;
    color: #fff;
}

.linksFooter {
    color: #fff;
}

.textIndexHeader {
    text-align: center;
    max-width: 620px;
}

.tittleText {
    display: flex;
    justify-content: center;
    text-align: center;
}

.tittleColor {
    font-size: 50px !important;
    color: #6d6a6a;
    padding-top: 50px;
    font-weight: bold;
}

.textIndex {
    font-size: 22px;
    color: #6d6a6a;
    font-weight: 500;
    padding: 0px 30px;
}

.tabs {
    width: 300px;
}

.tabGeneralDimensions {
    max-width: 100%;
    justify-content: space-around;
    border-bottom: 5px #e95224 solid !important;
}

.tabHead {
    text-align: center;
    width: 50%;
}

.tabHeadGeneral, .tabHeadDimensions {
    font-size: 20px;
    font-weight: bold;
    color: #000000 !important;
    height: 75px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}

.tabHeadGeneralsActive, .tabHeadDimensionsActive {
    font-size: 20px;
    font-weight: bold;
    color: #fff !important;
    height: 75px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #c63f17 solid !important;
}

.text-descripcion {
    font-size: 25px;
    font-weight: 400;
    color: #797979;
}

.title-resultado {
    font-size: 20px !important;
}

.descripcion-resultado {
    font-size: 18px !important;
    color: #797979;
    margin-top: -10px;
    width: 105% !important;
}

.borde {
    border-left: 2px dotted #797979 !important;
    border-right: 2px dotted #797979 !important;
}

.text-carrusel {
    padding: 3%;
}

.titulo-carrusel {
    font-size: 28px;
    font-weight: 100;
}

.descripcion-carrusel {
    font-size: 20px;
    font-weight: 300 !important;
    margin-bottom: 0 !important;
}

.title-grafico {
    font-size: 28px !important;
    font-weight: 600 !important;
}

.borde-left {
    border-left: 2px dotted #797979;
}

.borde-top {
    padding-top: 2%;
    border-top: 6px dotted lightgrey;
    border-width: thick;
    padding-top: 2%;
}

.borde-bottom {
    border-bottom: none !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.sub-titulo {
    font-size: 24px;
    color: #797979;
    font-weight: 250;
    font-size: 1.70rem;
}

/* .carousel-control-next-icon {
    background-image: url('https://ibb.co/Nmx2t37') !important;
} */

.fijo1Style {
    width: 1500px;
}

.fijo2Style {
    width: 100% !important;
    /* width: 800px; */
}

.accordion2Card {
    display: flex;
    justify-content: space-around;
}

.accordion2Box {
    width: 30%;
}

.img-tamano img {
    width: 75%;
}

.accordion2Box h1 {
    font-size: 480%;
    font-weight: 700;
    color: #e95224;
}

.accordion2Box h2 {
    font-size: 250%;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 5px dotted lightgrey;
}

.accordion2Box p {
    font-size: 140%;
    font-weight: 300;
    line-height: 27px;
    padding-top: 20px;
}

.descripcion-acordion {
    border-top: 2px dotted #797979;
}

.descripcion-acordion p {
    font-size: 120%;
    font-weight: 200;
    line-height: 25px;
}

/* .accordion2Tittle {
    font-size: 500%;
    color: #ff7043;
    font-weight: 800 !important;
} */

/* .accordion2SubTittle {
    font-size: 270%!important;
    font-weight: 900 !important;
    width: 451px;
    margin: 0 !important;
    padding-bottom: 20px;
    border-bottom: 5px dotted lightgrey;
}

.accordion2Body {
    width: 411px;
    font-size: 0% !important;
    margin: 0 !important;
    line-height: 27px;
    padding-top: 20px;
} */

.accordion2ContainerCollapse {
    width: 100% !important;
    margin-left: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#basic-nav-dropdown {
    color: #dc712d !important;
    font-size: 18px;
    font-weight: 600;
}

.box-h4 {
    width: 102% !important;
}

.box-h4 h4 {
    width: 100%;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    height: 20%;
}

.card-header-tabs {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.card {
    border: none !important;
}

.color-grey {
    background-color: #f7f7f7 !important;
}

.card-body {
    padding-top: 0.67% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row-navbar {
    width: 100%;
    text-decoration: none;
}

.img-laboratorio-gobierno {
    width: 130px;
    height: 50px;
}

.img-indice-innovacion {
    width: 160px;
    height: 60px;
}

.accordionView h1 {
    font-size: 25px;
    font-weight: 600 !important;
}

.box-dimensions-text {
    width: 91% !important;
    margin-left: 80px !important;
}

.box-subDimensions-text {
    width: 96% !important;
    margin-left: 90px !important;
}

.nav-link {
    text-decoration: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.posicion-class {
    display: flex;
    align-items: center;
    padding-bottom: 10px !important;
}

.posicion-class a {
    font-size: 16px !important;
    font-weight: 300 !important;
}

.subir {
    position: relative;
    top: -50px !important;
}

.size-box {
    padding-left: 3rem;
    padding-right: 3rem;
}

.graphic-acc-3 {
    text-align: center!important;
    padding: 3rem!important;
}

@media (max-width: 900px) {
    .img-laboratorio-gobierno {
        display: none;
    }
    .center-translation {
        display: flex;
        align-self: center;
    }
    .ub-logo {
        z-index: 1;
    }
    .navbar-toggler {
        z-index: 2;
    }
    .row-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tittleColor {
        font-size: 33px !important;
        padding-top: 30px;
        margin-bottom: 0px !important;
    }
    .textIndex {
        font-size: 15px;
        padding: 0px;
        margin-bottom: 0px !important;
    }
    .title-acordion {
        font-size: 15px !important;
    }
    .sub-titulo {
        font-size: 15px !important;
    }
    .borde-bottom {
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .svg-inline--fa.fa-w-14 {
        width: 0.3em;
    }
    .descripcion-carrusel {
        font-size: 12px;
    }
    .text-ancor {
        font-size: 12px !important;
    }
    .size-box {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .accordion2Box {
        text-align: center;
        padding-bottom: 20px;
    }
    .accordion2Box h1 {
        font-size: 280%;
    }
    .accordion2Box h2 {
        font-size: 110%;
        padding-bottom: 15px;
    }
    .accordion2Box p {
        font-size: 90%;
        line-height: 20px;
        padding-top: 15px;
    }
    .header-card{
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
    .borde-top {
        padding-top: 4%;
    }
    .contenedor-footer .all-logos .logo-izquierdo{
        padding:0;
        padding-bottom: 5%;
    }
    .contenedor-footer .all-logos .logo-izquierdo .banco-interamericano-desarrollo, 
    .contenedor-footer .all-logos .logo-izquierdo .laboratorio-gobierno, 
    .contenedor-footer .all-logos .logo-izquierdo .ministerio {
        text-align: center;
    }
    .contenedor-footer .all-logos .logo-centro {
        padding: 0;
        padding-bottom: 7%;

    }
    .contenedor-footer .all-logos .logo-centro .indice-innovacion-publica {
       text-align: center;
    }
    .contenedor-footer .all-logos .logo-derecho {
        width: 100% !important;
        padding: 0;
        text-align: center;
    }
    .contenedor-footer .all-logos .logo-derecho .twitter{
        font-size:150% ;
    } 
    .contenedor-footer .all-logos .logo-derecho .instagram{
        font-size: 450%;
        height: 40px;
    } 
    .contenedor-footer .all-logos .logo-derecho .in{
        font-size: 450%;
        height: 40px;
    }
    .contenedor-footer .all-logos .logo-derecho .facebook {
        font-size: 150%;
        color: #fff;
    }
    .contenedor-footer .all-logos .logo-derecho .twitter, 
    .contenedor-footer .all-logos .logo-derecho .instagram, 
    .contenedor-footer .all-logos .logo-derecho .in, 
    .contenedor-footer .all-logos .logo-derecho .facebook {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .contenedor-footer .links {
        padding: 0;
        margin: 0;
        padding-top: 7%;
        display: flex;
        flex-direction: column;
    }
    
    .contenedor-footer .links ul {
        width: 90% !important;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    
    .contenedor-footer .links ul li {
        font-size: 12px;
        padding-bottom: 4%;
        list-style-type: none;
        text-align: center;
    }
    .contenedor-first-footer .contenedor {
        width: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contenedor-first-footer .contenedor .descargas {
        width: 100%;
        padding-bottom: 9%;
        text-align: center;
        border-right: none;
        border-bottom: 5px solid #dc712d;
    }
    .contenedor-first-footer .contenedor .lista {
        width: 100%;
        padding-top: 6%;
        padding-bottom: 2%;
    }
    
    .contenedor-first-footer .contenedor .lista ul {
        width: 90%;
        padding: 0;
        margin: 0;
    }
    
    .contenedor-first-footer .contenedor .lista ul li {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 3%;
    }
    
    .contenedor-first-footer .contenedor .lista ul li .underline {
        font-size: 17px;
    }
    
    
    .borde-accordion-3-r {
        padding: 0px 4% 0px 4%;
    }
    .tabHeadGeneral, .tabHeadDimensions {
        font-size: 12px;
        font-weight: bold;
        color: #000000 !important;
        height: 75px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: #eaeaea;
    }
    .tabHeadGeneralsActive, .tabHeadDimensionsActive {
        font-size: 12px;
        font-weight: bold;
        color: #fff !important;
        height: 75px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-bottom: 1px #c63f17 solid !important;
    }
    .text-descripcion {
        font-size: 100%;
        font-weight: 400;
        color: #797979;
    }
    .graphic-acc-3 {
        text-align: center!important;
        padding: 0% !important;
    }
}